html,
#root,
body{
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}

p{
  font-size:50px;
}

 html{
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section{
  scroll-snap-align: end;
  scroll-behavior: smooth;
}

#canvas1{
  margin-left:30%;
  margin-top:10%;
  margin-right:10%;
}

#App{
  background-color: 	#1D1D1D;
  height: 100%;
  /* border: solid 10px black; */
}

#App2{
  background-color: 	#d36150;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Canvas{
  width:80%;
  height: 80%;
}


a{
  pointer-events:all;
  color:rgb(255, 255, 255);
  text-decoration:none;
}

.arrow{
  position:absolute;
  top:95%;
  left:50%;
  transform: translate(-50%,-50%);
}

.arrow span{
  display:block;
  width:20px;
  height:20px;
  border-bottom:5px solid white;
  border-right:5px solid white;
  transform: rotate(45deg);
  margin:10px;
  animation:scroll 3s infinite;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);

  }
}

/* CSS */
.button-28 {
  /* margin-bottom:50%; */
  margin-top:03%;
  appearance: none;
  background-color: transparent;
  border: 2px solid #51da28;
  border-radius: 15px;
  box-sizing: border-box;
  color: #51da28;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  outline: none;
  /* padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 20%;
  max-width: 20%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  /* color: #fff;
  background-color: #51da28;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}