html,
#root,
body{
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}

p{
  font-size:50px;
}

 /* html{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: end;
} */

#canvas1{
  margin-left:30%;
  margin-top:10%;
  margin-right:10%;
}

#App{
  background-color: 	#1D1D1D;
  height: 100%;
  /* border: solid 10px black; */
}

#App2{
  background-color: 	#1D1D1D;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Canvas{
  width:80%;
  height: 80%;
}

.a-header{
  color: 'white' !important;
  margin-left:30px;
  

}

a{
  pointer-events:all;
  color:rgb(255, 255, 255);
  text-decoration:none;
}

.arrow{
  position:absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}

.arrow span{
  display:block;
  width:20px;
  height:20px;
  border-bottom:5px solid white;
  border-right:5px solid white;
  transform: rotate(45deg);
  margin:10px;
  animation:scroll 3s infinite;
}

#partTitle{
  font-size:50px;
  padding-bottom:10%;
}

#second-title{
  margin-top:2%;
  margin-left:10%;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-15px, -15px);
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);

  }
}

/* CSS */
.button-28 {
  /* margin-bottom:50%; */
  margin-top:03%;
  appearance: none;
  background-color: transparent;
  border: 2px solid #51da28;
  border-radius: 15px;
  box-sizing: border-box;
  color: #51da28;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  outline: none;
  /* padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 20%;
  max-width: 20%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  /* color: #fff;
  background-color: #51da28;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}





.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  background-color: #1e282f;
}

.info {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 14px;
  a {
    color: inherit;
  }

  .notice {
    margin-top: 1rem;
    font-weight: 100;
  }

  @media screen and (min-width: 980px) {
    font-size: 18px;
    .notice {
      display: none;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  background: linear-gradient(180deg, #2a3267, #1e282f 100%);
}

.hero-body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;

  @media screen and (min-width: 980px) {
    padding: 8rem 1.5rem;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-left: 9.5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  width: 100%;
  @media screen and (min-width: 980px) {
    width: 33.33333333333333%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 1200px;
  background-color: #fff;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.card-title {
  font-size: 22px;
  font-weight: 600;
}

.card-body {
  margin-top: 27px;
  margin-bottom: 27px;
  line-height: 1.5;
  font-size: 16px;
  @media screen and (min-width: 576px) {
    font-size: 18px;
  }
}

.image-container {
  margin-top: auto;
  padding-top: 27px;
  padding-bottom: 18px;
  @media screen and (min-width: 576px) {
    padding-bottom: 30px;
  }

  img {
    width: 100%;
  }
}

.image-inner-container {
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
}

.ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

